<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>세한탕</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/profile.css">
</head>
<body>
  <textarea id="test" class="my_box"></textarea>
  <button id="checkText" class='my_box2' >탕에 들어가기</button><br>
  <canvas id="canvas" width="1077" height="503"></canvas>
  <!-- <body bgcolor="#8DCEAB"> -->
  <script type="text/javascript">
  var word_count = 0;

  function Banner(arg) {
    var keyword = arg || "";
    var canvas;
    var context;
    var bgCanvas;
    var bgContext;
    var denseness = 2;
    //Each particle/icon
    var parts = [style = "#FFF800"];
    var mouse = {
      x: -100,
      y: -100
    };
    var mouseOnScreen = false;
    var itercount = 0;
    var itertot = 20;
    this.add_word = function(word) {
      keyword = word || "";
      bgContext.fillText(keyword, 100, 100 * (word_count + 1));
      word_count += 1;
      clear();
      getCoords();
    }

    this.initialize = function(canvas_id) {
      canvas = document.getElementById(canvas_id);
      context = canvas.getContext('2d');
      canvas.width = 1077;
      canvas.height = 503;
      bgCanvas = document.createElement('canvas');
      bgContext = bgCanvas.getContext('2d');
      bgCanvas.width = 1077;
      bgCanvas.height = 503;
      canvas.addEventListener('mousemove', MouseMove, false);
      canvas.addEventListener('mouseout', MouseOut, false);
      start();
    }
    var start = function() {
      bgContext.fillStyle = "#000000";
      bgContext.font = '80pt YDIYGO340';
      //  bgContext.fillText(keyword, Math.random() * canvas.width, Math.random() * canvas.height);

      bgContext.fillText(keyword, Math.random() * 10, 100 * (word_count + 1));
      word_count += 1;
      bgContext.fillText("testword", Math.random() * 10, 100 * (word_count + 1));
      clear();
      getCoords();
    }

    var add_word = function() {
      bgContext.fillText(keyword, 100, 100 * (word_count + 1));
      word_count += 1;
      clear();
      getCoords();
    }
    var getCoords = function() {
      var imageData, pixel, height, width;
      imageData = bgContext.getImageData(0, 0, canvas.width, canvas.height);

      // quickly iterate over all pixels - leaving density gaps
      for (height = 0; height < bgCanvas.height; height += denseness) {
        for (width = 0; width < bgCanvas.width; width += denseness) {
          pixel = imageData.data[((width + (height * bgCanvas.width)) * 4) - 1];
          //Pixel is black from being drawn on.
          if (pixel == 255) drawCircle(width, height);
        }
      }
      setInterval(update, 30);
    }

    var drawCircle = function(x, y) {
      var startx = (Math.random() * 800 + 120);
      var starty = (Math.random() * 600 + 40);
      var velx = (x - startx) / itertot;
      var vely = (y - starty) / itertot;
      parts.push({
        c: '#000000',
        x: x, //goal position
        y: y,
        x2: startx, //start position
        y2: starty,
        r: true, //Released (to fly free!)
        v: {
          x: velx,
          y: vely
        }
      })
    }
    var update = function() {
      var i, dx, dy, sqrDist, scale;
      itercount++;
      clear();

      for (i = 0; i < parts.length; i++) {
        //If the dot has been released
        if (parts[i].r == true) {
          //Fly into infinity!!
          parts[i].x2 += parts[i].v.x;
          parts[i].y2 += parts[i].v.y;
          //Perhaps I should check if they are out of screen... and kill them?
        }
        if (itercount == itertot) {
          parts[i].v = {
            x: (Math.random() * 6) * 2 - 6,
            y: (Math.random() * 6) * 2 - 6
          };
          parts[i].r = false;
        }
        //Look into using svg, so there is no mouse tracking.
        //Find distance from mouse/draw!
        dx = parts[i].x - mouse.x;
        dy = parts[i].y - mouse.y;
        sqrDist = Math.sqrt(dx * dx + dy * dy);
        if (sqrDist < 16) parts[i].r = true;
        //Draw the circle
        context.fillStyle = parts[i].c;
        context.beginPath();
        context.arc(parts[i].x2, parts[i].y2, 1, 0, Math.PI * 2, true);
        context.closePath();
        context.fill();
      }
    }

    var MouseMove = function(e) {
      if (e.layerX || e.layerX == 0) {
        //Reset particle positions
        mouseOnScreen = true;
        mouse.x = e.layerX - 10;
        mouse.y = e.layerY - 5;
      }
    }
    var MouseOut = function(e) {
      mouseOnScreen = false;
      mouse.x = -100;
      mouse.y = -100;
    }
    //Clear the on screen canvas
    var clear = function() {
      context.fillStyle = '#FFFBEB';
      context.beginPath();
      context.rect(0, 0, canvas.width, canvas.height);
      context.closePath();
      context.fill();
    }
  }

  $("#checkText").click(function(e) {
    var key = $("#test").val();
    if(word_count == 0) {
      window.banner = new Banner(key);
      banner.initialize("canvas");
    } else {
      banner.add_word(key)
      // window.banner.add_word();
    }
  });
  </script>
 </body>
</html>
